<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
</head>
<body>
    <header>
        <h1>TO DO LIST</h1>
    </header>
    <main>
        <form action="{% url 'tasks:edit_task' task.id %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save Changes">
        </form>
        <br>
        <a href="{% url 'tasks:task_list' %}"><button>Back to tasks list</button></a><br><br>
    </main>
</body>
</html>